<ion-tabs>
  <div *ngIf="menuOpen" style="position: absolute; width: 100%; bottom: 70px; background-color: #b1a9a9; padding: 10px; ">
    <div style="display: flex; justify-content: space-evenly; padding: 5px;">
      <ion-tab-button href="new-income">
        <ion-icon aria-hidden="true" name="triangle"></ion-icon>
        <ion-label>New Income</ion-label>
      </ion-tab-button>

      <ion-tab-button href="new-expense">
        <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
        <ion-label>New Expense</ion-label>
      </ion-tab-button>
    </div>
  </div>

  <ion-tab-bar slot="bottom" style="position: relative; height: 70px; overflow: visible;">
    <!-- Tab Buttons -->
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insight" href="/tabs/insight">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Insight</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts" href="/tabs/accounts">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting" href="/tabs/setting">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Floating Add Button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" style="
    padding: 10px;
      bottom: 40px; /* Adjust to position the button half-outside */
      z-index: 10;
    ">
    <ion-fab-button color="warning" style="--size: 60px;" (click)="onAddClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>