
// ion-content {
//     --background: linear-gradient(135deg, #ffffff, #ffffff); 
//   }
  .content {
    background-color: #f8f9fa; 
    padding: 16px; 
    height: 100%;
  
    .scanBTN {
      width: 65px;
      height: 65px;
      margin: 25px;
    }
    
    .scanImg {
      margin: 110px auto;
      height: 250px;
      width: 250px;
    }
    
    .notes {
      display: block;
      text-align: center;
      font-size: 1rem;
      color: #807878;
      margin-top: 10px;
      padding: 0 15px;
      line-height: 1.5;
    
      ion-note {
        font-weight: 500;
      }
    }
  
    ion-grid {
      height: 100%; 
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
    }
  
    .grid {
      margin-top: 20px;
      gap: 12px; 
      padding: 16px;
    }
  
    .row {
      display: flex;
      align-items: center; 
    }
  
    .col {
      display: flex;
      flex-direction: column;
      gap: 12px; 
    }
  
    .label {
      align-self: flex-start;
      font-size: 1.2rem;
      font-weight: bold;
      color: #7d7e80; 
    }
  
    .drop {
      color: #1c1b1b;
    --background: rgb(243, 239, 239);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    --border-radius: 5px;
    --border-radius: 8px;
    }
  
    .box {
        color: #1c1b1b;
      --background: rgb(243, 239, 239);
      --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
      --border-radius: 5px;
      --border-radius: 8px;
    }
    .btn {
      height: 45px;
      --border-radius: 6px;
      --border-width: 2px;
      --border-color: #82fc82;
      --background: linear-gradient(135deg, #20f22a, #64f67f);
      --color: #fff;
      --padding-start: 12px;
      --padding-end: 12px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
      --box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  
      &:hover {
        --background: linear-gradient(135deg, #44ff00, #3cff00);
        transform: translateY(-2px);
        --box-shadow: 0 6px 10px rgba(38, 255, 0, 0.4);
      }
  
      &:active {
        transform: translateY(0);
        --box-shadow: 0 3px 6px rgba(0, 255, 47, 0.3);
      }
    }
  
    .Cbtn {
      height: 45px;
      --border-radius: 6px;
      --border-width: 2px;
      --border-color: #007bff;
      --background: linear-gradient(135deg, #f82828, #f1656c);
      --color: #fff;
      --padding-start: 12px;
      --padding-end: 12px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
      --box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  
      &:hover {
        --background: linear-gradient(135deg, #ff0000, #ff0000);
        transform: translateY(-2px);
        --box-shadow: 0 6px 10px rgba(0, 123, 255, 0.4);
      }
  
      &:active {
        transform: translateY(0);
        --box-shadow: 0 3px 6px rgba(255, 25, 0, 0.3);
      }
    }
    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #495057;
    }
  }
  